* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e1e5f2;
  color: rgb(104, 102, 102);
}

.game-wrapper {
  max-width: 536px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 70px 20px;
}